# CAPSTONE
___
## Movies
___
### Data Sets
* IMDB
* Rotten Tomatoes
* Metacritic
### Questions
* What makes a movie "good"?
    * Domestic Box Office Income w/inflation accounted for.
    * Budget
    * Critic/User Ratings
    * Commom Actors/Actresses/Directors
    * Awards
* I also want to look at the worst rated movies that made the most money and compare those to the highest rated movies that made the least.
* Look at how some of my favorite movies compared to list. (Departed, Interstellar, Gladiator, Mollys Games)
___
## Golf
___
### Data Sets
* PGA
* LPGA
### Questions
* How has the improvement in equipment advanced the game?
    * Golf ball Comparison
    * Clubs
    * Spin rates
* The Tiger Woods effect on the game.
* Look at how much scores have lowered over the years.
* Does driving distance equate to lower scores?

In [ ]:
import pandas as pd

# Online Cleaned data location
# usmovies = pd.read_csv("https://raw.githubusercontent.com/natep514/Capstone/main/Resources/USMovies.csv", "\t")

# macOS file location
# usmovies = pd.read_csv("/Users/natepatten/code/savvycoders/Resources/title.akas.tsv", "\t")

# WindowsOS file location
usmovies = pd.read_csv(r"C:\Users\Nate\code\savvycoders\Resources\title.akas.tsv", delimiter="\t", low_memory=False)

# Drop columns not need
usmovies.drop(["ordering","isOriginalTitle", "types", "language", "attributes"], axis=1, inplace=True)

# Replace \N with 0
usmovies.replace('\\N', "0", inplace=True)

# Filter to get only US based movies/shows.
usmovies = usmovies[usmovies["region"] == "US"]

# Drop column region as it is no longer needed.
usmovies.drop("region", axis=1, inplace=True)
usmovies[["titleId"]] = usmovies[["titleId"]].astype(str) #changes
usmovies.drop_duplicates(subset=['titleId'], inplace=True) #changes

# Removed comment to save data
# usmovies.to_csv(r"C:\Users\Nate\code\savvycoders\Capstone\Resources\USMovies.csv", sep="\t")

# Test print results
print(usmovies.head(12))

In [ ]:
import pandas as pd

# Online Cleaned data location
# moviesfilter = pd.read_csv("https://raw.githubusercontent.com/natep514/Capstone/main/Resources/MoviesFilter.csv", delimiter="\t")

# MacOS File Location
# moviesfilter = pd.read_csv("/Users/natepatten/code/savvycoders/Resources/title.basics.tsv", delimiter="\t")

# WindosOS File Location
moviesfilter = pd.read_csv(r"C:\Users\Nate\code\savvycoders\Resources\title.basics.tsv", delimiter="\t", index_col=0, low_memory=False)


# Replace \N with 0
moviesfilter.replace("\\N", "0", inplace=True)

# Convert 'startYear' & 'isAdult' columns to integer dtype
moviesfilter[["startYear", "isAdult"]] = moviesfilter[["startYear", "isAdult"]].astype(int)


# Select movies between 2000 & 2020 that aren't adult
moviesfilter = moviesfilter[moviesfilter["titleType"] == "movie"]
moviesfilter = moviesfilter[moviesfilter["startYear"] >= 2000] 
moviesfilter = moviesfilter[moviesfilter["startYear"] <= 2020]
moviesfilter = moviesfilter[moviesfilter["isAdult"] == 0]


# Drop columns not need
moviesfilter.drop(['originalTitle','isAdult', 'titleType', 'endYear'], axis=1, inplace=True)

# Drop any duplicate primary titles
moviesfilter[["primaryTitle"]] = moviesfilter[["primaryTitle"]].astype(str) #changes
moviesfilter.drop_duplicates(subset=['primaryTitle'], inplace=True)

# Save the filtered data to a CSV file (uncomment if desired)
# moviesfilter.to_csv(r"C:\Users\Nate\code\savvycoders\Capstone\Resources\MoviesFilter.csv", sep="\t")

# Test print results
print(moviesfilter.head(12))

In [ ]:
import pandas as pd

# Online Cleaned data location
# moviesfilter = pd.read_csv("https://raw.githubusercontent.com/natep514/Capstone/main/Resources/imdbratings.csv", delimiter="\t")

# MacOS File Location
# imdbratings = pd.read_csv("/Users/natepatten/code/savvycoders/Resources/title.ratings.tsv", "\t")

# WindowOS File Location
imdbratings = pd.read_csv(r'C:\Users\Nate\code\savvycoders\Resources\title.ratings.tsv', delimiter="\t")

# Save the filtered data to a CSV file (uncomment if desired)
# imdbratings.to_csv(r"C:\Users\Nate\code\savvycoders\Capstone\Resources\imdbratings.csv", sep="\t")

# Test print results
print(imdbratings.head(12))

In [7]:
import pandas as pd

scraper = pd.read_html('https://www.boxofficemojo.com/chart/top_lifetime_gross/')

for title in scraper:
    
#scraper[0].to_csv('Moveies.csv')

scraper[0]

     Rank                                       Title Lifetime Gross  Year
0       1  Star Wars: Episode VII - The Force Awakens   $936,662,225  2015
1       2                           Avengers: Endgame   $858,373,000  2019
2       3                     Spider-Man: No Way Home   $814,115,070  2021
3       4                                      Avatar   $785,221,649  2009
4       5                           Top Gun: Maverick   $718,732,821  2022
..    ...                                         ...            ...   ...
195   196                              A Star Is Born   $215,333,122  2018
196   197                            X2: X-Men United   $214,949,694  2003
197   198                                   The Lorax   $214,373,500  2012
198   199                     Solo: A Star Wars Story   $213,767,512  2018
199   200                 Venom: Let There Be Carnage   $213,550,366  2021

[200 rows x 4 columns]

In [ ]:
import pandas as pd